[submodule "applets/vk-ykhmac"]
	path = applets/vk-ykhmac
	url = https://github.com/StarGate01/vk-ykhmac
[submodule "applets/Flex-OTP"]
	path = applets/Flex-OTP
	url = https://github.com/StarGate01/Flex-OTP
[submodule "applets/SmartPGP"]
	path = applets/SmartPGP
	url = https://github.com/ANSSI-FR/SmartPGP
[submodule "applets/openjavacard-ndef"]
	path = applets/openjavacard-ndef
	url = https://github.com/OpenJavaCard/openjavacard-ndef
[submodule "smartcard-ci"]
	path = smartcard-ci
	url = https://github.com/StarGate01/smartcard-ci
[submodule "applets/u2f-javacard"]
	path = applets/u2f-javacard
	url = https://github.com/darconeous/u2f-javacard.git
[submodule "applets/vk-u2f"]
	path = applets/vk-u2f
	url = https://github.com/VivoKey/vk-u2f.git
[submodule "applets/javacard-memory"]
	path = applets/javacard-memory
	url = https://github.com/StarGate01/javacard-memory.git
